@CHARSET "UTF-8";

table {
	border-collapse: collapse;
}

table,td,th {
	border: 1px solid black;
	font-family: Arial, Helvetica, sans-serif;
	font-size:10px;
}

table {
	width: 400;
	min-width: 640px;
}

td.version {
	width: 100px;
}

p,h1,h2,h3 {
	font-family: Arial, Helvetica, sans-serif;
}

p {
	font-size: 9px;
	color: blue;
}

tr.header {
	background-color: rgba(0,255, 0,.5);
	color: rgb(0, 0, 0);	
}

td.error {
	background-color: rgb(250, 0, 0);
	color: rgb(0, 0, 0);	
}

td.warning {
	background-color: rgb(250,250 , 0);
}

td.caution {
	background-color: rgb(250, 250,200 );
}

td.none {
	background-color: rgb(220, 220, 220);
}

td.normal {
	background-color: rgb(255, 255, 255);
}

tr:hover  {
  background-color: rgba(0,150,150,.5);
  color: rgba(0,100,100,1);
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.footspace {
	width: 100px;
	height: 2000px;
}
